@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

.app{
    width: 100%;
    height: 9.5vh;
    background-color: #272829;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homebutton, .accountbutton{
    font-size: 30px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    color: #FFF6E0;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    opacity: 0.6;
}

.homebutton:hover, .accountbutton:hover{
    scale: 1.05;
    opacity: 1;
}

.accountbutton{
    padding-right: 15px;
}